/* Center the form on the page */
.formContainer {
    display: flex;
    row-gap: 1em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
    color: #000;
    font-family: 'Arial', sans-serif;
}

/* Style the form container */
.formContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    background: white;
}

/* Label styling */
.inputLabel {
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    margin: 5px 0;
}

/* Input fields */
.inputField {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background: #f5f5f5;
    outline: none;
    color: black;
}

/* Forgot password link */
.forgot-password {
    font-size: 12px;
    color: #666;
    text-decoration: none;
    align-self: flex-end;
    margin: 5px 0 15px;
}

.forgot-password:hover {
    text-decoration: underline;
}

/* Sign in button */
.signUpButton {
    width: 100%;
    background-color: #000;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
    margin: 1em 0em;
}

.signUpButton:hover {
    background-color: #222;
}

/* Bottom text */
.signUpText {
    font-size: 12px;
    color: #333;
    margin-top: 15px;
}

/* Link for new account */
.signUpText a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.signUpText a:hover {
    text-decoration: underline;
}

.signUpContainer {
    background-color: #fff;
}