@font-face {
    font-family: "Lausanne";
    src: url("./_fonts/TWKLausanne-400.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lausanne";
    src: url("./_fonts/TWKLausanne-700.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Lausanne";
    src: url("./_fonts/TWKLausanne-400Italic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Lausanne";
    src: url("./_fonts/TWKLausanne-700Italic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}

.box {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: black;
}

.left {
    background-color: white;
    width: 60%;
    height: 100%;
    font-family: "Lausanne";
    padding-left: 1em;
}

.right {
    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "Lausanne";
    padding-right: 5em;
}

.titleinputbox {
    background-color: rgb(236, 236, 236);
    color: black;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.1em 0.1em;
    font-family: "Lausanne";
    resize: none;
    overflow-wrap: anywhere;
}

.descriptionInputBox {
    padding: 0.7em 0.5em;
    color: black;
    background-color: rgb(236, 236, 236);
    display: flex;
    width: 100%;
    font-size: 1rem;
    font-family: "Lausanne";
    border: none;
    min-height: 5em;
    max-width: 100%;
    min-width: 100%;
    overflow-wrap: anywhere;
    resize: none;
}

.descriptionInputBox:focus {
    resize: none;
    overflow-wrap: anywhere;
    overflow: visible;
}

.locationInputbox {
    color: black;
    margin-top: 0.5em;
    background-color: rgb(236, 236, 236);
    padding: 0.7em 0.5em;
    display: flex;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Lausanne";
    border: none;
    max-width: 100%;
    min-width: 100%;
    cursor: pointer;
    color: "black";
    overflow-wrap: anywhere;
    min-height: 2rem;
    resize: none;
}

.graybox {
    padding: 0.3rem 0.3rem;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    background-color: rgb(236, 236, 236);
    align-items: center;
}

.tagPillNotSelected {
    border-radius: 30px;
    display: flex;
    color: black;
    background-color: rgb(236, 236, 236);
    border-color: rgb(120, 120, 120);
    border-style: solid;
    padding: 0.3rem 0.3rem;
    border-width: 1.5px;
    cursor: pointer;
}

.tagPillSelected {
    border-width: 1.5px;
    border-radius: 30px;
    color: white;
    display: flex;
    background-color: rgb(54, 54, 54);
    border-color: rgb(54, 54, 54);
    border-style: solid;
    padding: 0.3rem 0.3rem;
    cursor: pointer;
}

.searchOptions {
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
    cursor: pointer;
}

.searchOptionsParent {
    z-index: 0;
    display: flex;
    position: relative;
}

.goToTheRight {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    flex-direction: row;
    column-gap: 1em;
    margin-top: 0.8em;
}

.tagOptions {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.flexIt {
    display: flex;
}

.orgLogo {
    display: flex;
    object-fit: contain;
    clip-path: circle();
    height: 1.5em;
    width: 1.5em;
}

.dateRow {
    padding: 0.1rem 0.3rem;
    flex-direction: row;
    background-color: rgb(236, 236, 236);
    align-items: center;
    display: flex;
    gap: 5px;
    margin-top: 1.5em;
}

.date {
    flex-direction: row;
    column-gap: 10px;
    font-weight: bold;
    display: flex;
    cursor: pointer;
}

.timebox {
    display: flex;
    flex-direction: row;
    column-gap: 6px;
    align-items: 'center';
}

.time {
    display: flex;
    align-items: 'center';
    border-style: hidden;
    background-color: rgb(236, 236, 236);
    font-family: "Lausanne";
    font-weight: bold;
    position: 'relative';
    color: black;
}

.hiddenModal {
    position: 'absolute';
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
}

.clickable {
    cursor: pointer;
}

.overlapInput {
    position: relative;
    display: inline-block;
    display: flex;
    alignItems: center;
}

.imagebox {
    background-color: rgb(236, 236, 236);
    width: 80%;
    height: 80%;
    margin-top: 50px;
    position: relative;
}

.penlogo {
    justify-content: center;
    position: absolute;
    right: 1em;
    bottom: 1em;
    background-color: rgb(236, 236, 236);
    width: 2em;
    height: 2em;
    cursor: pointer;
}

.squareButton {
    border-radius: 3px;
    color: white;
    display: flex;
    background-color: rgb(0, 0, 0);
    border-style: hidden;
    padding: 0.5rem 1rem;
}

.popUpModal {
    height: "100vh";
    width: "100vw";
}

.bigPillButton {
    color: white;
    font-weight: bold;
    font-size: 0.8em;
    background-color: rgb(0, 0, 0);
    border-style: hidden;
    border-radius: 40px;
    height: 3em;
    width: 7em;
    cursor: pointer;
}

.saveButton {
    color: rgb(81, 81, 81);;
    font-weight: bold;
    font-size: 0.8em;
    background-color:rgb(236, 236, 236);
    border-style: hidden;
    border-radius: 40px;
    height: 3em;
    width: 7em;
    cursor: pointer;
}

.editButton {
    color: rgb(149, 149, 149);
    border-radius: 30px;
    background-color: rgb(236, 236, 236);
    border-color: rgb(189, 189, 189);
    border-style: solid;
    border-width: 1.5px;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    flex-direction: row;
    column-gap: 1em;
    cursor: pointer;
}

.descriptionTitle {
    margin-top: 1em;
    font-weight: bold;
    display: flex;
    font-size: 1.2rem;
}

.selectKeywordText {
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.blankImage {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    justify-content: center;
    align-items: center;
}

.leftBottom {
    display: flex;
    flex-direction: column;
    width: 80%;
    row-gap: 0.7em;
    margin-top: 1.4em;
}

.customizeText {
    font-weight: bold;
    display: flex;
    font-size: 1.3em;
    margin-bottom: 0.7em;
}

.customizeButtonFormat {
    display: flex;
    column-gap: 5%;
}

.customizeButton {
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    border-style: hidden;
    border-radius: 3px;
    background-color: black;
    height: 3em;
    width: 10em;
    cursor: pointer;
}

.timezone {
    opacity: 0;
    position: absolute;
    inset: 0;
    width: 100%;
    cursor: pointer;
}

.eventBox {
    padding: 0.3rem 0.3rem;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    background-color: rgb(236, 236, 236);
    align-items: center;
    cursor: pointer;
}

.orgInfoBox {
    padding: 0.3rem 0.3rem;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    background-color: rgb(236, 236, 236);
    align-items: center;
    cursor: pointer;
}

.dateTimeZoneBox {
    padding: 0.3rem 0.3rem;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    background-color: rgb(236, 236, 236);
    align-items: center;
    position: relative;
    display: inline-block;
    display: flex;
    alignItems: center;
}

.timeParent {
    display: flex;
    flex-direction: row;
    column-gap: 6px;
    align-items: 'center';
    position: 'relative'
}