.body {
  background-color: white;
  padding-top: 1.25rem;
  padding-right: 4rem;
  padding-bottom: 1.25rem;
  padding-left: 4rem;
  display: flex;
  justify-content: space-between;
}

.leftContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 6.25rem;
}

.rightContainer {
  display: flex;
}

.NavBar-logoContainer {
  display: flex;
  cursor: pointer;
}

.logo {
  font-weight: 700;
  font-size: 1.5rem;
  color: darkblue;
  font-family: Barlow condensed;
}

.tabContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 6.25rem;
}

.NavBar-tabHeader {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  color: var(--uw-dark-blue);
  background-color: white;
  border: none;
  cursor: pointer;
}

.NavBar-tabHeader:hover {
  color: var(--uw-dark-blue);
  opacity: 0.6;
}

.NavBar-tabHeader:focus {
  font-weight: 700;
}


.profileButton {
  margin-left: auto;
}