@font-face {
    font-family: "Lausanne";
    src: url("../_fonts/TWKLausanne-400.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lausanne";
    src: url("../_fonts/TWKLausanne-700.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Lausanne";
    src: url("/fonts/TWLausanne-400Italic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Lausanne";
    src: url("/fonts/TWKLausanne-700Italic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}

.box {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    position: absolute;
    top: 0;
}

.left {
    /* display: flex;  */
    /* flex-grow: 1; */
    background-color: white;
    width: 50%;
    height: 100%;
    font-family: "Lausanne"
    /* justify-content: center; */
    /* flex-direction: row; */
}

.right {
    position: relative;
    width: 50%;
    height: 100%;
    background-color:rgb(255, 255, 255);
    font-family: "Helvetica Neue";
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "Lausanne"
}

.titleinputbox {
    background-color:rgb(236, 236, 236);
    width: 100%;
    display: flex; 
    font-size: 2rem;
    font-weight: bold;
    resize: both;
    min-height: 40px;
}

.inputbox {
    background-color:rgb(236, 236, 236);
    display: flex; 
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    resize: both;
    min-height: 20px;
}

.graybox {
    border-color: rgb(255, 255, 255);
    padding: 0.3rem 0.3rem;
    display: flex; 
    flex-direction: row;
    background-color:rgb(236, 236, 236);
    align-items: center;
    white-space: pre-wrap;
}

.columngraybox {
    border-color: rgb(255, 255, 255);
    padding: 0.3rem 0.3rem;
    display: flex; 
    flex-direction: column;
    background-color:rgb(236, 236, 236);
    position: relative;
    z-index: 0;
}

.tagPillNotSelected {
    border-radius: 30px;
    display: flex;
    background-color: white;
    border-color:rgb(120, 120, 120);
    border-style: solid;
    padding: 0.3rem 0.3rem;
}

.tagPillSelected {
    border-radius: 30px;
    color: white;
    display: flex;
    background-color:rgb(54, 54, 54);
    border-color:rgb(120, 120, 120);
    border-style: solid;
    padding: 0.3rem 0.3rem;
}

.searchOptions {
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.searchOptionsParent {
    z-index: 0;
    display: flex;
    position: relative;
}

.centergraybox {
    display: flex;
    flex-grow: 4;
}

.goToTheRight {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    flex-direction: row;
}

.tagOptions {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.spacing {
    gap: 10px;
}

.flexIt {
    display: flex;
}

.orgLogo {
    display: flex;
    object-fit: contain;
    clip-path: circle();
    height: 2em;
    width: 2em;
}

.dateRow {
    display: flex;
    gap: 20px;
}

.hiddenModal {
    position: 'absolute';
    top: 0;
    left: 0; 
    width: 0;
    height: 0;
    opacity: 0;
}

.clickable {
    cursor: pointer;
}

.overlapInput {
    position: relative;
    display: inline-block;
}

.noborder {
    border: none;
}

.imagebox {
    background-color:rgb(236, 236, 236);
    width: 80%;
    height: 80%;
    margin-top: 50px;
    position: relative;
}

.penlogo {
    justify-content: center;
    position: absolute;
    right: 1em;
    bottom: 1em;
    background-color:rgb(236, 236, 236);
    width: 2em;
    height: 2em;
}

.leftOffset {
    left: 50px;
}

.squareButton {
    border-radius: 3px;
    color: white;
    display: flex;
    background-color:rgb(0, 0, 0);
    border-style: hidden;
    padding: 0.5rem 1rem;
}

.popUpModal {
    height: "100vh";
    width: "100vw";
}

/* // Make absolute modal, height 100% absolute, z-index  */