.box {
    background-color: rgb(56, 203, 23);
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}

.left {
    /* display: flex;  */
    /* flex-grow: 1; */
    background-color: blue;
    width: 50%;
    height: 100%;
    /* justify-content: center; */
    /* flex-direction: row; */
}

.right {
    position: relative;
    width: 50%;
    height: 100%;
    background-color:rgb(255, 255, 255);
    font-family: "Helvetica Neue";
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titleinputbox {
    background-color:rgb(236, 236, 236);
    width: 100%;
    display: flex; 
    font-size: 2rem;
    font-weight: bold;
    resize: both;
    min-height: 40px;
}

.inputbox {
    background-color:rgb(236, 236, 236);
    display: flex; 
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    resize: both;
    min-height: 20px;
}

.graybox {
    border-color: rgb(255, 255, 255);
    padding: 0.3rem 0.3rem;
    display: flex; 
    flex-direction: row;
    background-color:rgb(236, 236, 236);
    align-items: center;
    white-space: pre-wrap;
}

.columngraybox {
    border-color: rgb(255, 255, 255);
    padding: 0.3rem 0.3rem;
    display: flex; 
    flex-direction: column;
    background-color:rgb(236, 236, 236);
    position: relative;
    z-index: 0;
}

.tagPillNotSelected {
    border-radius: 30px;
    display: flex;
    background-color: white;
    border-color:rgb(120, 120, 120);
    border-style: solid;
    padding: 0.3rem 0.3rem;
}

.tagPillSelected {
    border-radius: 30px;
    color: white;
    display: flex;
    background-color:rgb(54, 54, 54);
    border-color:rgb(120, 120, 120);
    border-style: solid;
    padding: 0.3rem 0.3rem;
}

.searchOptions {
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.searchOptionsParent {
    z-index: 0;
    display: flex;
    position: relative;
}

.centergraybox {
    display: flex;
    flex-grow: 4;
}

.goToTheRight {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    flex-direction: row;
}

.tagOptions {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.spacing {
    gap: 10px;
}

.flexIt {
    display: flex;
}

.orgLogo {
    display: flex;
    object-fit: contain;
    clip-path: circle();
    height: 2em;
    width: 2em;
}

.dateRow {
    display: flex;
    gap: 20px;
}

.hiddenModal {
    position: 'absolute';
    top: 0;
    left: 0; 
    width: 0;
    height: 0;
    opacity: 0;
}

.clickable {
    cursor: pointer;
}

.overlapInput {
    position: relative;
    display: inline-block;
}

.noborder {
    border: none;
}

.imagebox {
    background-color:rgb(175, 24, 24);
    width: 80%;
    height: 80%;
    left: 50px;
    position: relative;
    
}

.penlogo {
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color:rgb(236, 236, 236);
    width: 10%;
    height: 10%;
}


/* // Make absolute modal, height 100% absolute, z-index  */